@import 'src/_variables';

.root
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.centering
{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
}
